
{% extends 'base.html' %}
    {% block content %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

        <div class="w3-container w3-padding-32" id="about">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-25">About Us</h3>
    <p>
        THIS IS A BASIC DJANGO BLOG APP.
    </p>
  </div>

  <div class="w3-row-padding ">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <h3>KISHU RAI</h3>
      <p><button class="w3-button w3-light-grey w3-block " style="width: 40%">Contact</button></p>
    </div>
  </div>

    {% endblock %}